#voiceChat {
    visibility: hidden;
    position: fixed;
    background-color: rgba(0,0,0,.4);
    color: white;
    margin: 5px;
    padding: 5px;
    bottom: 0;
    right: 0;
    z-index: 255;
    font-family:"sans-serif";
    min-width: 100px;
    max-width: 200px;
}
#voiceChat .remoteStream { height: 0; width: 0; }

#voiceChat button {
    border: 1px solid #337ab7;
    background-color: white;
    color: #337ab7;
    padding: 3px;
    margin-top: 5px;
    width: 100%;
}

#voiceChat-user li {
    opacity: .5;
}
#voiceChat-user li.connected {
    opacity: 1;
}

#voiceChat-user {
    list-style-type: circle;
    padding-left: 20px;
}